dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.normal {
    color: green;
}

.exceeded {
    color: red;
}

header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
}

table {
    width: 400px; /* Ширина таблицы */
    margin-bottom: 10px;
}

table th, table td {
    padding: 5px; /* Поля вокруг текста */
}

.space-height-15px {
    width: 10px;
    height: 15px;
}

.space-height-30px {
    width: 10px;
    height: 30px;
}

hr.black-2px {
    border-top: 2px solid #101010;
    margin-top: 30px;
    margin-bottom: 30px
}