<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        <bean class="ru.javawebinar.topjava.repository.mock.MockUserRepositoryImpl" id="mockUserRepository"/>

        <bean class="ru.javawebinar.topjava.service.UserServiceImpl">
            <property name="repository" ref="mockUserRepository"/>
        </bean>
    -->

    <!-- Cache -->
    <import resource="spring-tools.xml"/>

    <!-- Profiles -->
    <import resource="profiles/spring-db.xml"/>
    <import resource="profiles/spring-repository.xml"/>


    <!--            -->
    <!-- Context    -->
    <!--            -->

    <context:annotation-config/>

    <beans profile="jdbc, jpa, datajpa, inmemory">
        <context:component-scan base-package="ru.javawebinar.**.service"/>
        <context:component-scan base-package="ru.javawebinar.**.web"/>
    </beans>

</beans>