<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="hsqldb">
        <import resource="spring-db-hsqldb.xml"/>
    </beans>

    <beans profile="postgres">
        <import resource="spring-db-postgresql.xml"/>
    </beans>

</beans>